@import "src/utils/variables";

.gameLayout {
  width: $appWidth;
  height: $appHeight;
  margin: 0 auto;

  //@media screen and (min-width: 768px){
  //  min-height: 3196px;
  //}
  //@media screen and (min-width: 1024px){
  //  min-height: 4261px;
  //}
}

.background {
  width: 100%;
  height: 100%;
  background: url("../../assets/images/background.svg") no-repeat center left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
