@import "src/utils/variables";

%btn {
  width: 100%;
  font-family: $fontPressStart;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  border-radius: 80px;
  padding: 1rem 0;
  color: #FFFFFF;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.primary {
  background: linear-gradient(225.01deg, #F46837 30.36%, #945DD6 78.58%);
  border: $borderBtnWhite;
  box-shadow: $boxShadowPrimaryBtn;
  @extend %btn;
  &:hover {
    background: linear-gradient(90deg, #13ADC7 0%, #13C71A 100%);
    border: $borderBtnWhite;
    box-shadow: $boxShadowPrimaryBtn;
  };
  &:active {
    background: linear-gradient(90deg, #925ED6 0%, #15ABC7 100%);
    border: $borderBtnNone;
  }
}
.secondary {
  background: transparent;
  border: $borderBtnWhite;
  //backdrop-filter: blur(16px);
  filter: opacity(1);
  @extend %btn;
  &:active {
    background: linear-gradient(90deg, #925ED6 0%, #15ABC7 100%);
    border: $borderBtnNone;
  }
}
