.object {
  width: fit-content;
  height: fit-content;
  position: absolute;
  img {
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
    filter: grayscale(1);
    &:hover {
      filter: grayscale(.5);
      transform: scale(1.01);
    }
    &.active {
      filter: grayscale(0);
    }
  }
}
