@import "src/utils/variables";

.mainWrapper {
  @extend %backgroundPagesTemplate;
  position: relative;
}

.ramen1 {
  position: absolute;
  left: 0;
  top: 1%;
}
.ramen2 {
  position: absolute;
  right: 0;
  top: -1%;
}
.ramen3 {
  position: absolute;
  left: 0;
  bottom: 0;
  filter: blur(2px);
}
.ramen4 {
  position: absolute;
  right: 0;
  bottom: 0;
}
