@import "src/utils/variables";

.pageWrapper {
  @extend %pageTitleTemplate;
  filter: opacity(1);
  text-align: left;
  h1 {
    font-family: $fontInter;
    font-size: 20px;
    font-weight: 800;
    line-height: 140%;
    text-shadow: unset;
  }
}
