.tableWrapper {
  width: 100%;
  padding-bottom: 2rem;
  span {
    font-weight: 400;
  }
  table {
    width: inherit;
    border-collapse: collapse;
  }
  th:not(:nth-last-child(1)), td:not(.time) {
    text-align: left;
  }
  th:nth-last-child(1) {
    text-align: right;
  }
  th, td {
    padding: .8em 0;
  }
  td {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
  }
  tbody {
    tr {
      border-bottom: 1pt solid #FFFFFF;
    }
  }
}

.rank {
  display: flex;
  justify-content: space-between;
  padding-left: 4px !important;
}
.name {
  width: 50%;
}
.time {
  font-size: 16px;
}

.gold {
  width: 16px;
  height: 16px;
  background: #FFE921;
  border-radius: 50%;
  margin-right: 16px;
}
.silver {
  width: 16px;
  height: 16px;
  background: #AFCFD1;
  border-radius: 50%;
  margin-right: 16px;
}
.bronze {
  width: 16px;
  height: 16px;
  background: #FFAE34;
  border-radius: 50%;
  margin-right: 16px;
}

.active {
  background: linear-gradient(90deg, #13ADC7 0%, #13C71A 100%);
  color: #FFFFFF;
}
