.tableWrapper {
  width: 100%;
  padding-bottom: 2rem;
  color: #FFFFFF;

  span {
    font-weight: 400;
  }

  table {
    width: inherit;
    border-collapse: collapse;
  }

  th:not(:nth-last-child(1)), td:not(.time, .bowls) {
    text-align: left;
  }

  th:nth-last-child(1) {
    text-align: right;
  }

  th, td {
    padding: .8em 4px;
  }

  td {
    font-weight: 700;
    line-height: 120%;
  }

  td:not(:last-child) {
    font-size: 14px;
  }

  tbody {
    tr {
      border-bottom: 1px solid #FFFFFF;
      vertical-align: initial;

      td:first-child {
        min-width: 41px;

        img {
          width: 16px;
          height: 16px;
        }
      }

      td:last-child {
        text-align: right;
      }
    }
  }
}

.isWide {
  th, td {
    font-size: 19px !important;
  }
  th:last-child,td:last-child,th:nth-last-child(2){
    font-size: 21px !important;
    text-align: right;
  }
}

.rank {
  display: flex;
  justify-content: space-between;
}

.name {
  width: 50%;
}

.bowls {
  text-align: right;
}

.time {
  font-size: 16px;
}

.gold, .silver, .bronze {
  object-fit: contain;
}

.active {
  background: #13C71A;
  color: #FFFFFF;
}
