@import "src/utils/variables";

.homeWrapper {
  @extend %backgroundPagesTemplate;
  position: relative;
  align-items: center;
}
.owlWrapper {
  display: flex;
  justify-content: center;
}

.btnGroup {
  padding-top: 50px;
}

.balloonMd {
  position: absolute;
  right: 34px;
  top: 438px;
}
.balloonLg {
  position: absolute;
  left: 28px;
  bottom: 10%;
}
